<!-- <p [textContent]="name"></p> -->
<div class="item">
  <input type="checkbox" [checked]="item.completed" (change)="toggleDone.emit()">
  <p *ngIf="!item.editable">{{item.title}}</p>
</div>
<div *ngIf="item.editable">
  <input [value]="item.title" #editInput>
  <app-button [btnName]="'cancel'" (onClick)="onCancel.emit()"></app-button>
  <app-button [btnName]="'ok'" (onClick)="onEditSubmit.emit({id: item.id, title: editInput.value})"></app-button>
</div>
<div *ngIf="!item.editable">
  <app-button [btnName]="'delete'" (onClick)="onDelete.emit()"></app-button>
  <app-button [btnName]="'edit'" (onClick)="onEdit.emit()"></app-button>
</div>